<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
</head>
<body>
    <form action="/user/reg" method="post">
        {% csrf_token %}
        <div>
            <label for="id_name">输入用户名</label>
            <input type="text" id="id_name" name="username" placeholder="请输入用户名" value="{{ username }}">
            <span>{{ user_error}}</span>
        </div>
         <div>
            <label for="id_passwd">输入密码</label>
            <input type="text" id="id_passwd" name="password" placeholder="请输入用户密码" value="{{ password }}">
            <span>{{ pass_error}}</span>
         </div>
        <div>
            <label for="id_passwd1">确认密码</label>
            <input type="text" id="id_passwd1" name="password1" placeholder="请输入用户密码" value="{{ password1 }}">
            <span>{{ pass_error}}</span>
         </div>

        <input type="submit" value="注册">

    </form>

</body>
</html>