<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>js ---> json</title>
    <script src="/static/common.js"></script>
    <script src="/static/jquery-1.11.3.js"></script>
    <script>
        $(function(){
            $("#btn").click(function(){
                var obj = {
                    uname:"wangwc",
                    uage:30,
                    ugender:"unknow"
                    }
                //通过JSON.stringify() 转化为JSON字符串
                var json_arr = JSON.stringify(obj)
                console.log(json_arr)
                })

            })
    </script>
</head>
<body>
    <button id="btn">js --> json</button>
</body>
</html>