<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block mytitle %}我心永恒{% endblock %}</title>
</head>
<body>
    <h1 style="color:green;background:blue;">登录 注册</h1>
    {% block 开始吧 %}
    <h1 style="color:green;background:orange;">主页 内容</h1>
    {% endblock 开始吧 %}
    <h1 style="color:green;background:red;">联系 我们</h1>

</body>
</html>