<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/my_bookstore/select" method="post">
        <label for="id_select"></label>
        <input type="text" name="select" placeholder="请输入查询价格" id="id_select">
        <input type="submit" value="确认提交">
    </form>

    <table>
        {% for p in abook %}
        <tr>
            <th>{{ p.title }}</th>
            <th>{{ p.pub_house }}</th>
            <th>{{ p.price }}</th>
            <th>{{ p.market_price }}</th>
            <!--<th>{{ p }}</th>-->
        </tr>
        
        {% endfor %}



    </table>

</body>
</html>