<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if 'user' in request.session%}
    欢迎:{{ request.session.user.name}}
    <a href="/user/logout">退出登录</a>
    {% else %}
    <a href="/user/login">登录</a>
    <a href="/user/login">注册</a>
    {% endif %}


</body>
</html>